*.so*
*.o
*.dylib
*.a
*.jar
*.jnilib
Makefile
config.status
config.log
tokyocabinet/tcamgr
tokyocabinet/tcamttest
tokyocabinet/tcatest
tokyocabinet/tcawmgr.cgi
tokyocabinet/tcbmgr
tokyocabinet/tcbmttest
tokyocabinet/tcbtest
tokyocabinet/tcfmgr
tokyocabinet/tcfmttest
tokyocabinet/tcftest
tokyocabinet/tchmgr
tokyocabinet/tchmttest
tokyocabinet/tchtest
tokyocabinet/tctmgr
tokyocabinet/tctmttest
tokyocabinet/tcttest
tokyocabinet/tcucodec
tokyocabinet/tcumttest
tokyocabinet/tcutest
tokyocabinet/tokyocabinet.pc
