*.so*
*.o
*.dylib
*.a
*.jar
*.jnilib
Makefile
config.status
config.log
tokyocabinet-native/tcamgr
tokyocabinet-native/tcamttest
tokyocabinet-native/tcatest
tokyocabinet-native/tcawmgr.cgi
tokyocabinet-native/tcbmgr
tokyocabinet-native/tcbmttest
tokyocabinet-native/tcbtest
tokyocabinet-native/tcfmgr
tokyocabinet-native/tcfmttest
tokyocabinet-native/tcftest
tokyocabinet-native/tchmgr
tokyocabinet-native/tchmttest
tokyocabinet-native/tchtest
tokyocabinet-native/tctmgr
tokyocabinet-native/tctmttest
tokyocabinet-native/tcttest
tokyocabinet-native/tcucodec
tokyocabinet-native/tcumttest
tokyocabinet-native/tcutest
tokyocabinet-native/tokyocabinet.pc
